body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6; /* Améliore la lisibilité */
    padding-top:100px;

}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.bg-image img {
    width: 100vw; /* Prend toute la largeur */
    height: 30vh; /* Prend 15% de la hauteur de l'écran */
    object-fit: cover; /* Ajuste l'image sans la déformer */
    display: block;
}
.h1-display{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 750px;
    margin-top: 60px;;
    
}

.h1-display-p{
    align-self:flex-end;
}

p{
    text-align: center;
}

.div-position-p{
    align-self:flex-end;
}
.div-position{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 1050px;
    margin-top: 60px;
    
}



.container.mt-5 {
    margin-top: 15px !important; /* Réduit l'espace au-dessus de la section */
}
h2{
    margin-top: 30px;
}

.navbar-nav .nav-link {
    color: white !important; /* Change la couleur du texte */
}


.navbar-nav .nav-link:hover {
    color: orange !important; /* Change en orange au survol */
}


